@include component('footer') {
    background: #f8f8f8; 

    @include element('main') {
        padding: 70px 0px;
        @media(max-width: 500px) {
            padding-bottom: 20px;
        }
    }

    @include element('box') {
        float: left;
        height: 1%;
        overflow: hidden;
        width: 50%;

        @media(max-width: 1001px) {
            padding: 10px 0px;
            text-align: center;
            width: 100%;
        }

        @media(max-width: 500px) {
            &:nth-of-type(1) {
                margin-bottom: 20px;                
            }
        }                        
    }

    @include element('brand') {
        float: left;
        max-width: 190px;
        margin-right: 20px;
        width: 100%;

        @media(max-width: 1001px) {
            float: none;
            display: inline-block;
        } 

        img {
            display: block;
            width: 100%;
        }
    }

    @include element('info') {
        max-width: 290px;
        float: left;
        margin-top: 18px;
        width: 100%;

        @media(max-width: 1001px) {
            float: none;
            display: inline-block;
        }         

        h2 {
            color: #009cde;
            margin-bottom: 5px;
            width: 100%;
        }

        p {
            color: #333333;
            font-size: 12px;
            line-height: 20px;
        }
    }

    @include element('footer-nav') {
        float: right;
        padding: 0px 50px;
        @media(max-width: 1001px) {
            float: none;
            display: inline-block;
            vertical-align: top;
        }
        
        @media(max-width: 500px) {
            &:nth-of-type(1) {
                margin-bottom: 40px;
            }
        }        

        h2 {
            color: #009cde;
            margin-bottom: 10px;
        }

        ul {
            li {
                a {
                    color:#333333;
                    line-height: 30px;
                    font-size: 12px;
                }
            }
        }
    }

    @include element('orange') {
        background: #f39100;
        position: relative;
        
        p {
            color: #fff;
            line-height: 34px;
            margin: 0px;
            @media(max-width: 500px) {
                text-align: center;
                padding: 10px 0px;
                width: 100%;
            }
        }
    }

    @include element('orange-link') {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}