extends layouts/default.pug

block vars
	- var pageTitle = 'home'
	- var btnBanner = false

block content
	.c-bigbanner
		.c-bigbanner__items
			.c-bigbanner__item_inner
				.c-bigbanner__image
					img(src="img/bigbanner_somos.jpg", alt="Neuropsicoarte")
				.c-bigbanner__info
					h1 
						strong Somos
						|  dolor sit amet, consectetur adipiscing elit
	.c-planDscto
		.c-inner
			.c-planDscto__boxes
				.c-planDscto__box
					.c-planDscto__item
						h2 Quiénes Somos
						p Somos profesionales del área de la salud, psicólogas clínicas con formación en neuropsicología y Arte Terapeuta. Con más de trece años de experiencia en neurorehabilitación, ofrecemos nuestros servicios profesionales tanto a domicilio como en consulta.
						p Nuestro trabajo se desarrolla en las problemáticas asociadas a las patologías del ámbito cerebral, accidentes cerebro vasculares, traumatismos encéfalo craneano, enfermedades degenerativas (demencias), entre otras, realizando una completa evaluación inicial y diseñando un plan de estimulación cognitiva personalizada así como una reevaluación final. Las personas que han sido víctimas de una lesión cerebral adquirida (LCA) padecen también una profunda conmoción emocional y es por eso que la terapia también se orienta a abordar la dimensión afectiva de la persona.
						p A través de los años de trabajo hemos aprendido de manera empírica que el arte provee una potente herramienta en el área de la rehabilitación así como en otras alteraciones o dificultades psicológicas, dado que es un medio no amenazante para que la persona enfrente sus problemas y logre una relevante mejoría. Este vínculo entre la salud mental y el arte se realiza mediante la disciplina Arteterapia.
						p Nuestra permanente formación en el área clínica nos permite trabajar otros ámbitos de la salud mental como los trastornos emocionales, adaptativos, de personalidad, problemas de la familia y la pareja, entre otras problemáticas de la persona, tanto en adultos como en el grupo infanto juvenil, haciendo evaluaciones y psicoterapia a los diversos grupos consultantes como se especifica en otros apartados de esta página.
					
				.c-planDscto__box
					img(src="img/somos_thumb.jpg", alt="")
	.c-planDscto
		.c-inner
			.c-planDscto__boxes
				.c-planDscto__box-100
					.c-planDscto__item
						p Somos profesionales del área de la salud, psicólogas clínicas con formación en neuropsicología y Arte Terapeuta. Con más de trece años de experiencia en neurorehabilitación, ofrecemos nuestros servicios profesionales tanto a domicilio como en consulta.
						p Nuestro trabajo se desarrolla en las problemáticas asociadas a las patologías del ámbito cerebral, accidentes cerebro vasculares, traumatismos encéfalo craneano, enfermedades degenerativas (demencias), entre otras, realizando una completa evaluación inicial y diseñando un plan de estimulación cognitiva personalizada así como una reevaluación final. Las personas que han sido víctimas de una lesión cerebral adquirida (LCA) padecen también una profunda conmoción emocional y es por eso que la terapia también se orienta a abordar la dimensión afectiva de la persona.
						p A través de los años de trabajo hemos aprendido de manera empírica que el arte provee una potente herramienta en el área de la rehabilitación así como en otras alteraciones o dificultades psicológicas, dado que es un medio no amenazante para que la persona enfrente sus problemas y logre una relevante mejoría. Este vínculo entre la salud mental y el arte se realiza mediante la disciplina Arteterapia.


						h3 Lorem ipsum dolor sit amet
						p.mb30 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

						h3 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor:

						ul.mb30
							li - Lorem ipsum dolor sit amet
							li - Lorem ipsum dolor sit amet
							li - Lorem ipsum dolor sit amet

						h3 ¿Lorem ipsum dolor sit amet?
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

		
block append scripts

