// Colors
$white:#FFF;
$black:#000;
$color_brand:'';
$color_brand2:'';
$color_text:'';
$color_bg:'';

// fonts
$base_size:14px;
$font_base:'Roboto', sans-serif;
$font_highlight:'Roboto', sans-serif;

// Common
$transition-duration: 250ms !default;

// Margins & Paddings
$numbers: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90;
$sides: t top,r right,b bottom,l left;
