.c-bigbanner
    .c-bigbanner__items
        .c-bigbanner__item
            .c-bigbanner__image
                img(src="img/bigbanner.jpg", alt="Saval")
            .c-bigbanner__info
                h1 
                    strong Lorem ipsum
                    |  dolor sit amet, consectetur adipiscing elit
                if btnBanner
                    a.c-bigbanner__link(href="#") Ver más