footer.c-footer
    .c-footer__main
        .c-inner
            .c-footer__box
                .c-footer__brand
                    img(src="img/logo-footer.svg", alt="Saval")
                .c-footer__info
                    h2 NeuroPsicoarte
                    p Somos profesionales del área de la salud, psicólogas clínicas con formación en neuropsicología y Arte Terapeuta.
            .c-footer__box
                .c-footer__footer-nav
                    h2 Contacto
                    ul
                        li
                            a(href="#") Preguntas frecuentes
                        li
                            a(href="#") Contacto            
                .c-footer__footer-nav
                    h2 Acceso directo
                    ul
                        li
                            a(href="index.html") Home
                        li
                            a(href="somos.html") Quiénes somos
                        li
                            a(href="especialidades.hmlt") Especialidades
                        li
                            a(href="blog.html") Blog
    .c-footer__orange
        .c-inner.c-inner--pd20
            p.u-pull_left © 2017 Neuro Psicoarte. All rights reserved.
