header.c-header
	.c-header__top
		.c-inner
			a.c-header__btn.u-pull_left(href="#") Comunícate con nosotros
			a.c-header__btn.u-pull_left(href="#") +56 9 9999 9999
	.c-header__main
		.c-inner
			.c-header__brand
				a(href="#")
					img.c-header__brand-image(src="img/logo.svg", width="150")
			.c-header__nav
				ul
					li
						a(href="index.html") Home
					li
						a(href="somos.html") Quiénes Somos
					li
						a(href="especialidades.html") Especialidades
					li
						a(href="blog.html") Blog
					li
						a(href="contacto.html") Contacto
			.c-header__search
				form(action="#")
					fieldset
						.input
							input(type="text" placeholder="buscar")

		

