.c-newsletter
    .c-inner
        .c-newsletter__form
            h1 Suscríbete
            p Si quieres recibir más articulos
            form(action="#")
                .input
                    input(type="text" placeholder="Email")
                .submit
                    input(type="submit" value="Suscribir")